h1 {
    font-size: 100px;
    font-family: Helvetica;
    font-weight: bold;
    color: khaki;
    text-align: center;
    background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-2/pattern.jpeg");
}
h2.style1{
    font-family: Helvetica;
    font-size: 32px;
    font-weight: bold;
    color: white;
    background-color:mediumspringgreen ;
}
h3 {
    font-family: Helvetica;
    font-weight: bold;
}
p {
    font-family: Helvetica;
    font-weight: bold;
}
h2.style2{
    font-family: Helvetica;
    font-size: 32px;
    font-weight: bold;
    color: white;
    background-color:lightcoral;
}
h2.style3{
    font-family: Helvetica;
    font-size: 32px;
    font-weight: bold;
    color: white;
    background-color:skyblue;
}
